#groups_feed {
  position: absolute;
  top: 6vh;
  text-align: center;
  left: 50%;
  width: 40%;
  min-height: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 5%;
}

.groups {
  margin-top: 5%;
  max-width: 100%;
  min-height: 20%;
  text-align: center;
}

.groups h3 {
  padding-top: 2.5%;
  text-decoration: none !important;
  color: #8c2d19 !important;
}

.groups h4 {
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration: none !important;
  color: black !important;
}

.groups table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
}

a:link, a:visited {
  text-decoration: none !important;
}

#no_groups {
  color: #8c2d19;
  margin-top: 7%;
  font-size: 18px;
}