#news_feed {
  position: absolute;
  top: 6vh;
  text-align: justify;
  left: 50%;
  width: 40%;
  min-height: 10%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 5%;
}

.news {
  margin-top: 5%;
  max-width: 100%;
  min-height: 20%;
}

.news h1 {
  font-size: 22px;
  text-align: center;
}

.news h2 {
  font-size: 18px;
  text-align: center;
}

.news #seccao {
  display: none;
}

.news iframe {
  display: block;
  width: 100%;
}

.news-container {
  margin: auto;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 90%;
  height: 90%;
}

.news-container img {
  display: block;
  width: 100%;
  height: auto;
}

#endNews {
  position: relative;
  margin-top: 7%;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  color: #8c2d19;
}

.lds-ellipsis {
  position: relative;
  margin: auto;
  margin-top: 5%;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #8c2d19;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}