#profile {
  position: absolute;
  width: 40%;
  height: 85%;
  left: 50%;
  top: 52.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#name h2 {
  position: relative;
  color: black;
}

#name {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}

#picture {
  position: absolute;
  width: auto;
  top: 2.5%;
  height: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  clip-path: circle();
}

#cover {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 21%;
  background: url("../media/feup-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 42.5%;
}

.profile-table {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 23%;
  text-align: center;
  max-width: 60%;
  width: 60%;
}

.profile-table img {
  position: relative;
  width: auto;
  margin: auto;
  margin-top: 5%;
}

#program-name {
  height: auto;
}

#program-logo {
  height: 7.5%;
}

#dep-logo {
  height: 7.5%;
}

#email-logo {
  height: 7.5%;
}

#chat-logo {
  cursor: pointer;
  height: 7.5%;
}

.profile-table tr h4 {
  margin-top: 0%;
  font-weight: normal;
}

.profile-table tr h3 {
  margin-top: 2%;
  font-weight: normal;
}

.profile-table tr h2 {
  margin-bottom: 2%;
}

.profile-table td {
  position: relative;
  min-height: 15%;
}