body {
  position: absolute;
  font-family: 'Lato', sans-serif;
  top: 0%;
  min-height: 100%;
  margin: 0px;
  width: 100%;
  background-color: #f5f5f5;
  min-width: 1100px;
  overflow: auto;
}

#session {
  width: 100%;
  min-height: 100%;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}