.bar-container {
  width: 100%;
  height: 5%;
  position: sticky;
  background-color: #8c2d19;
}

.sticky-bar {
  position: relative;
  width: 60%;
  height: 100% !important;
  max-height: 100%;
  margin: auto;
  table-layout: fixed;
  text-align: center;
  font-size: 13px;
  border: 0px;
}

.sticky-bar td {
  position: relative;
  height: 100%;
}

.sticky-bar a {
  text-decoration: none;
}

.sticky-bar a:link {
  color: white;
}

/* visited link */
.sticky-bar a:visited {
  color: white;
}

.sticky-bar img {
  position: absolute;
  display: block;
  width: auto;
  height: 50%;
  background-color: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sticky-bar td {
  height: 100% !important;
  min-height: 100%;
}

.sticky-bar form {
  display: block;
  height: 100% !important;
  min-height: 100%;
  width: 100%;
}

.sticky-bar form input[type=text] {
  position: absolute;
  height: 60% !important;
  width: 90%;
  padding: 0%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

tr {
  height: 100%;
  border-spacing: 0px;
}

.sticky-bar form input[type=image] {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#feed-pic {
  height: 90%;
  width: auto;
}

#profile-pic {
  position: absolute;
  width: auto;
  height: 80%;
  clip-path: circle();
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#feed-col {
  width: 12% !important;
  max-width: 12% !important;
}

#img-col {
  width: 5% !important;
  max-width: 5% !important;
}

#name-col {
  width: 12.5% !important;
  max-width: 12.5% !important;
  text-align: left;
  color: white;
}

#search-col {
  width: 40% !important;
  max-width: 40% !important;
}